<div class="rounded text-body-emphasis bg-body-secondary">
  <div class="col-lg-12 col-xs-12">
    <div class="hero-bg">
      <div class="hero-sec">
        <h1>
          Elevate your gaming <br> experience to the <br>next level
        </h1>
        <p class=" my-3">
          Maximize your gaming potential with top-tier gear for unbeatable
          performance,<br>
           immersive experiences, seamless gameplay, and unmatched
          speed and precision.
        </p>
        <div class="mt-5">
          <button type="button" class="btn btn-primary-gg"><h6 class="m-0 p-2">JOIN IN</h6></button>
  
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <app-card-carousal></app-card-carousal>
</div>
<div>
  <app-session></app-session>
</div>
<div>
  <app-premade></app-premade>
</div>