.hero-bg {
  background-image: 
 
  url("../../../assets/images/proplayershero.svg");    
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.f-14 {
  font-size: 14px !important;
}

.rounde12 {
  border-radius: 12px;
}

.form-select {
  width: 150px;
  height: 40px;
  border: none;
  color: #fff;
  padding: 0.375rem 0.75rem;
  border-radius: 8px;
  font-size: 16px;
  line-height: 22.4px;
}

.form-select:focus {
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #1F1F2A; /* Purple check indicator */
  border-color: #1F1F2A;
}

.form-check-label {
  color: #fff;
}
.custom-select {
  background-color: #1F1F2A;
  color: white;
}

.custom-select option {
  background-color: #1F1F2A;
  color: white;
}

.custom-select:focus {
  border-color: #ccc; /* Optional: change border color on focus */
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25); /* Optional: add focus effect */
}

/* Change the color of the down arrow */
.custom-select::after {
  color: #fff; /* White arrow */
}

.order-header {
  color: #7b5eff;
  font-weight: bold;
}
.chat-box, .info-box {
  border-radius: 8px;
  /* padding: 20px; */
  color: #fff;
}
.chat-header {
  font-size: 1.2rem;
  font-weight: bold;
}
.button-stop {
  background-color: #7b5eff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
}
.button-stop:hover {
  background-color: #5a46d1;
}
.chat-messages {
  max-height: 31vh;
  overflow-y: auto;
  padding: 0px 30px;
  background: #151520;
}
.chat-message {
  margin-bottom: 10px;
}
.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #480c81;
}
.client-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.client-list-item img {
  margin-right: 10px;
}
.header-text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2rem;
}
.order-card {
  background-color: #151520;
  padding: 10px 20px;
  border-radius: 10px;
}
.avatar-dummy {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}
.btn-choose {
  background-color: #1F1F2A;
  color: #fff;
  border: none;
  padding: 8px 32px 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.btn-choose:hover {
  background-color: #5b5f70;
}
.btn-create {
  background: linear-gradient(90deg, #6c32fa, #7d3cfc);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.btn-create:hover {
  background: linear-gradient(90deg, #7d3cfc, #6c32fa);
}
.choosebtn {
  font-weight: 600;
  color: #9949ff;
}
  
.red-letter {
  color: #A55EFF;
}
span.chat-message {
  background: #1C1C26;
  border-radius: 12px;
  padding: 7px 15px;
  font-size: 14px;
  color: #D2D2D5;
  font-weight: 500;

}
.text-box {
  padding: 0px 45px 25px 30px;
  background-color: #151520;
}

.bg-lite {
  background: #1A1A28;
}
.bg-real {
  background: #151520;
}
.border-radius-top-lr {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

}
.px-3.py-2.bg-real.border-radius-top-lr {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.border-bottom-lr {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

}
.bg-darks {
  background-color: #151520;
}
.br-16 {
  border-radius: 16px;
}

.profile-container {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 48px;
}

.profile-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px solid #6f42c1; /* Purple border */
  overflow: hidden;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status-indicator {
  position: absolute;
  bottom: 11px;
  right: 4px;
  width: 11px;
  height: 11px;
}
.player-name {
  font-family: Manrope;
font-size: 18px;
font-weight: 700;
line-height: 24.59px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
}
.player-status {
  font-family: Manrope;
font-size: 14px;
font-weight: 600;
line-height: 19.12px;
letter-spacing: -0.01em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #72767D;
}
.px-3.py-2.bg-real.border-radius-top-lr {
  padding: 24px 32px !important;
  background-color: #20202B !important;
}


.chat-messages {
  scrollbar-width: thin;
  scrollbar-color: #34343F #1D1D28;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #34343F;
  border-radius: 50px;
}

.chat-messages::-webkit-scrollbar-thumb:hover {
  background-color: #4A4A5A;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #1D1D28;
  border-radius: 50px;
  margin: 2px;
}
.p-24 {
  padding: 24px;
}
.p-12 {
  padding: 12px;
}
.o-stream {
  color: #B9BBBE;
}
.heading-1 {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  
}


.list-group-item {
  background-color: #1D1D28;
  color: #B9BBBE;
  border: none;

padding: 12px;
gap: 0px;
border-radius: 6px;
opacity: 0px;

}
.list-group-item:hover {
  background-color: #3a3a4b; /* Slight hover effect */
}
.form-control {
  background-color: #2a2a3b;
  color: #fff;
  border: none;
  border-radius: 5px;
}
.form-control:focus {
  background-color: #2a2a3b;
  box-shadow: none;
  border-color: #555;
}
.icon {
  margin-right: 10px;
}
.player-name.offline {
  opacity: 0.6;
}
input[type="text"]:focus-visible {
  outline: none;
}

.search-box-container input {
  padding: 10px 38px 10px 10px;
  background: #20202B;
  color: #6F737A;
  font-family: Manrope;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.12px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  border: 0;
  width: 100%;
  border-radius: 8px;
}

.search-box-container:after {
  content: ""; 
  display: inline-block;
  width: 14px; 
  height: 14px;
  background-image: url('../../../assets/images/Path.png'); 
  background-size: contain; 
  background-repeat: no-repeat;
  margin-left: -36px; /* Adjust the position horizontally */
  margin-top: 5px;
  color: #6F737A; 
}

.max_he8 {
  min-height: 32vh;
  height: 30vh;
  overflow-y: scroll;
}

.max_he8 {
scrollbar-width: thin;
scrollbar-color: #34343F #1D1D28;
}

.max_he8::-webkit-scrollbar {
width: 8px;
}

.max_he8::-webkit-scrollbar-thumb {
background-color: #34343F;
border-radius: 50px;
}

.max_he8::-webkit-scrollbar-thumb:hover {
background-color: #4A4A5A;
}

.max_he8::-webkit-scrollbar-track {
background-color: #1D1D28;
border-radius: 50px;
margin: 2px;
}
input.form-control.msg {
padding: 8px 15px;
color: #fff;
}
.border-bottom {
border: 1px solid;
}
.order {
background: #151520;
width: fit-content;
margin-left: auto;
margin-right: auto;
top: -22px;
position: relative;
padding: 8px;
}

.dummy {
height: 93px;
background-color: red;
}