.hero-bg {
    background-image: 
   
    url("../../../assets/images/proplayershero.svg");    
    background-repeat: no-repeat;
    background-size: cover;
  }
  .event-card {
    background-color: #252544;
    border: none;
    border-radius: 10px;
  }
  .event-card img {
    border-radius: 10px;
  }
  .profile {
    display: flex;
    align-items: center;
  }
  .profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .badge {
    background-color: #7f00ff;
    color: #fff;
  }
  .filter-bar {
    margin-bottom: 20px;
  }