<app-header-pro></app-header-pro>
<main class="body-height">
    <div class="rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-12 col-xs-12">
            <div class="hero-bg">
                <div class="hero-sec mb-4 p-4 rounded text-body-emphasis container">

                    <h1 class="text-start mb-5 text-white mt-5">New Premade Party</h1>

                    <div class="bg-real mb-5">
                        <form [formGroup]="form" (ngSubmit)="submit()">

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="game" class="form-label">This Premade Party is for</label>
                                    <select class="form-select" aria-label="Default select example" id="game"
                                        formControlName="game">
                                        <option value="">No Game Selected</option>
                                        <option *ngFor="let game of games" [value]="game.id">
                                            {{game.title}}
                                        </option>
                                    </select>
                                    <div *ngIf="form.get('game')?.invalid && (form.get('game')?.touched || formSubmitted)"
                                        class="text-danger">
                                        Game is required
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="amount" class="form-label">Amount</label>
                                    <input type="text" class="form-control" id="amount" disabled readonly
                                        value="$12.00/hr" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <label for="name" class="form-label">Name</label>
                                    <input type="text" required formControlName="name" class="form-control" id="name"
                                        placeholder="Name" />
                                    <div *ngIf="form.get('name')?.invalid && (form.get('name')?.touched || formSubmitted)"
                                        class="text-danger">
                                        Name is required
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="streamLink" class="form-label">Stream Link</label>
                                    <input type="text" required formControlName="streamLink" class="form-control"
                                        id="streamLink" placeholder="Stream Link" />
                                    <div *ngIf="form.get('streamLink')?.invalid && (form.get('streamLink')?.touched || formSubmitted)"
                                        class="text-danger">
                                        <div *ngIf="form.get('streamLink')?.errors?.['required']">Stream link is
                                            required</div>
                                        <div *ngIf="form.get('streamLink')?.errors?.['pattern']">Invalid Stream link
                                            format</div>
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12 col-sm-6">
                                    <label for="serverDescription" class="form-label">Server Description</label>
                                    <input type="text" class="form-control" formControlName="serverDescription"
                                        id="serverDescription" placeholder="Server Description" />
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12 col-sm-6">
                                    <label for="platform" class="form-label">Platform</label>
                                    <select class="form-select" aria-label="Default select example" id="platform"
                                        formControlName="platform">
                                        <option *ngFor="let team of platforms" [value]="team.id">
                                            {{team.name}}
                                        </option>
                                    </select>
                                    <div *ngIf="form.get('platform')?.invalid && (form.get('platform')?.touched || formSubmitted)"
                                        class="text-danger">
                                        Platform is required
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12 col-sm-6">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="form-control" id="description" rows="5" placeholder="Description"
                                        formControlName="description"></textarea>
                                    <div *ngIf="form.get('description')?.invalid && (form.get('description')?.touched || formSubmitted)"
                                        class="text-danger">
                                        Description is required
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12 col-sm-6">
                                    <label for="proUser" class="form-label">Select PRO</label>
                                    <select class="form-select" aria-label="Default select example" id="proUser"
                                        formControlName="proUser">
                                        <option value="">No PRO selected</option>
                                        <option *ngFor="let proUser of proUsers" [value]="proUser.username">
                                            <span class="body-1">{{ proUser.username }}</span>
                                        </option>
                                    </select>
                                </div>
                            </div>


                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><button class="btn make">Create</button></div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
</main>

<div class="modal fade modal-card" id="onboardingModal" tabindex="-1" aria-labelledby="onboardingModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div>
                    <div class="card modal-cards hovercard">
                        <div class="container">
                            <div class="d-flex justify-content-start pt-4 ps-3">
                                <h5 class="text-white">On Boarding</h5>
                            </div>
                            <div class="">
                                <div class="text-white p-4">
                                    What to keep in mind while playing!
                                    <div class="text-light px-4">
                                        <ul>
                                            <li>
                                                Please ensure that you report the time for your clients
                                                when they exit the session
                                            </li>
                                            <li>
                                                Please record the gameplay session and upload it on
                                                Youtube as a private video. This video will be used in
                                                case of any disputes.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end m-2 mb-4">
                                <button type="button" class="btn btn-outline-light p-3 me-4">
                                    <h5 class="pe-4 px-4 mb-0 f-14" (click)="closeModal()">Cancel
                                    </h5>
                                </button>
                                <button type="button" class="btn make p-3" (click)="createNewParty()">
                                    <h5 class="pe-4 px-4 mb-0 f-14">Proceed</h5>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>