.hero-bg {
    background-image:

        url("../../../assets/images/proplayershero.svg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-real {
    background-color: #151520;
    padding: 30px;
    border-radius: 12px;
}

.f-14 {
    font-size: 14px;
}

body {
    background-color: #1e1e2d;
    color: #fff;
}

.form-container {
    max-width: 900px;
    margin: 2rem auto;
    background: #2a2a3b;
    padding: 2rem;
    border-radius: 10px;
}

.form-control,
.form-select {
    border: 0;
    padding: 16px 20px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.86px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #777980;
    background: #20202B;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
    border-color: #6c5ce7;
}

.profile-pic {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #2a2a3b;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.upgrade-banner {
    height: 160px;
    background: linear-gradient(294.38deg, #7a3c06 7.72%, #d16c06 87.02%);
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
}

/* Cover Image Styling */
.update-cover {
    position: relative;
    height: 160px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    background-color: #20202B;
    /* Fallback color */
}

.update-cover .btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 6px 12px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    border: 0;
    background: #18182380;
    backdrop-filter: blur(20px);
    font-family: Manrope;
    font-size: 12px;
    font-weight: 700;
    line-height: 19.2px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #D2D2D5;

}

/* Profile Picture Styling */
.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #2a2a3b;
    position: relative;
}

.update-profile-overlay {
    position: absolute;
    top: 152px;
    left: 46%;
    width: auto;
    height: 0;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
    z-index: 1;
    font-size: 12px;
    font-weight: 700;
    line-height: 15.6px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}

.update-profile-overlay span {
    font-size: 14px;
    text-align: center;
}

.position-relative:hover .update-profile-overlay {
    opacity: 1;
}

.profile-cover {
    position: relative;
    right: -70px;
    top: -13px;
}

.st-1 {
    font-size: 29px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

.st-2 {
    font-size: 36px;
    font-weight: 400;
    line-height: 43px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;

}

label.form-label {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #E9E9EA;
}

button.btn.make {
    background: linear-gradient(294.38deg, #7a3c06 7.72%, #d16c06 87.02%);
    border-radius: 8px;
    border: 0;
    padding: 14px 24px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #fff;
}

button.btn.cancel {
    background: transparent;
    border-radius: 8px;
    border: 0;
    padding: 14px 24px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7a3c06;
}

button.btn.save {
    background: #FFFFFF;
    border-radius: 8px;
    border: 0;
    padding: 14px 24px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 700;
    line-height: 21.86px;
    letter-spacing: -0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #7a3c06;
}

.user-data {
    font-family: Manrope;
    font-size: 20px;
    font-weight: 600;
    line-height: 21.86px;
    letter-spacing: -0.01em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #777980;
}

.modal-content {
    border-radius: 45px;
}

.modal-card>.modal-dialog>.modal-content>.modal-body {
    /* background-image: url("../../../assets/images/modal-bg.png"); */
    background: #1c1c26;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
}

.card.modal-cards.hovercard {
    border-radius: 0;
    /* background-image: url("../../../assets/images/modal-bg-blur.png"); */
    background: transparent;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
}

.text-white.align-items-left {
    text-align: left;
}