.hero-bg {
  background-image: url("../../../assets/images/proplayershero.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.f-14 {
  font-size: 14px !important;
}

.chat-box,
.info-box {
  background-color: #1e1e2f;
  border-radius: 8px;
  color: #fff;
}

.chat-messages {
  min-height: 430px;
  max-height: 470px;
  overflow-y: auto;
  padding: 30px;
  background-color: #151520;
}

.chat-message {
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #d16c06;
  object-fit: cover;
}

.order-card {
  background-color: #151520;
  padding: 10px 20px;
  border-radius: 10px;
}

.avatar-dummy {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
}

.btn-choose {
  background-color: #1f1f2a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-choose:hover {
  background-color: #5b5f7061;
}

.choosebtn {
  font-weight: 600;
  color: #d16c06;
}

.red-letter {
  color: #d16c06;
}

span.chat-message {
  background: #1c1c26;
  border-radius: 12px;
  padding: 7px 15px;
  font-size: 14px;
  color: #d2d2d5;
  font-weight: 500;
}

.text-box {
  padding: 0 45px 30px 30px;
  background-color: #151520;
}

.bg-lite {
  background: #1a1a28;
}

.bg-real {
  background: #151520;
}

.border-bottom-lr {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.br-16 {
  border-radius: 16px;
}

.player-name {
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  color: #fff;
}

.p-24 {
  padding: 24px;
}

.heading-1 {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  line-height: 27.32px;
  color: #fff;
}

.form-control {
  background-color: #2a2a3b;
  color: #fff;
  border: none;
  border-radius: 5px;
}

textarea::placeholder {
  color: #e6e0e0 !important;
}

.border-bottom {
  border: 1px solid;
}

.order {
  background: #151520;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  top: -22px;
  position: relative;
  padding: 8px;
  display: block;
}

.profile-box {
  border-radius: 10px;
}

.btn-transparent {
  background-color: transparent;
  border: 1px solid white;
  color: #ffff;
  border-radius: 10px;
  width: 100%;
  font-weight: 600;
}

.modal-body {
  background: #151520;
  border-radius: 5px;
}

.chat-messages {
  scrollbar-width: thin;
  scrollbar-color: #34343f #1d1d28;
}

.chat-messages::-webkit-scrollbar {
  width: 8px;
}

.chat-messages::-webkit-scrollbar-thumb {
  background-color: #34343f;
  border-radius: 50px;
}

.chat-messages::-webkit-scrollbar-track {
  background-color: #1d1d28;
  border-radius: 50px;
  margin: 2px;
}
