.hero-bg {
  background-image:

    url("../../../assets/images/proplayershero.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.f-14 {
  font-size: 14px !important;
}

.rounde12 {
  border-radius: 12px;
}

.form-select {

  height: 40px;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  line-height: 22.4px;
}

.red-letter {
  color: #A55EFF;
}

.form-select:focus {
  box-shadow: none;
}

.form-check-input:checked {
  background-color: #1F1F2A;
  /* Purple check indicator */
  border-color: #1F1F2A;
}

.form-check-label {
  color: #fff;
}

.custom-select {
  background-color: #1F1F2A;
  color: white;
}

.custom-select option {
  background-color: #1F1F2A;
  color: white;
}

.custom-select:focus {
  border-color: #ccc;
  /* Optional: change border color on focus */
  box-shadow: none;
}

/* Change the color of the down arrow */
.custom-select::after {
  color: #fff;
  /* White arrow */
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  /* Creates gap between rows */
}

thead th {
  background-color: #2a2a2a;
  background-color: #0c0c18;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 24.59px;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #8F8F95;
}

tbody tr {
  background-color: #2a2a2a;
}

.a {
  color: #a06aff;
  text-decoration: none;
}

@media (max-width: 768px) {
  table {
    font-size: 0.875rem;
  }

  thead {
    display: none;
  }

  tbody tr {
    display: block;
    margin-bottom: 10px;
  }

  tbody tr td {
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    border: none;
  }

  tbody tr td::before {
    content: attr(data-label);
    font-weight: bold;
    color: #a06aff;
    text-decoration: none;
  }
}

.table>:not(caption)>*>* {
  background-color: #151520;
  font-size: 16px;
}

.table>:not(caption)>*>* {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

tbody,
td,
tfoot,
th,
thead,
tr {

  border: 0;
}

thead.bg-transparent>tr>th {
  background: #0c0c18 !important
}

.pagination-container {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

button.btn.btn-secondary {
  background: linear-gradient(217deg, #41067A, #7A06D1) !important;
  border: 0 !important;
}

.pagination-container .btn {
  padding: 5px 15px;
  border-radius: 8px;
}

.pagination-container .page-numbers {
  font-weight: 400;
  color: #fff;
}

.bg-darks {
  background-color: #151520;
}