
  
  .card {
    background-color: #151520 !important;
    border-color: #111;
    border-radius: 10px !important;
    /* width: 435px; */
  }
  
  .font {
    font-size: 0.9rem;
    font-weight: 100;
  }
  
  
  /* // premade party styling from here */
  
  .premade-parties-wrapper {
    box-sizing: border-box;
    width: 100%;
    /* max-width: 950px; */
    margin: 0 auto;
  }

  
  .red-letter {
    color: #A55EFF;
  }

  
  .streamLobbySlotTag {
    text-align: center;
    color: #f2f2f2;
    min-height: 25px;
    background: #1F1F2A;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    display: flex;
  }
  
  .streamLobbySlotTagsWrapper {
    flex-flow: wrap;
    align-items: center;
    gap: 6px;
    display: flex;
  }

 

   .p{
     font-family: "Manrope", sans-serif;
   }


.dot {
    height: 15px;
    width: 15px;
    background-color: #38ad63;
    border-radius: 50%;
    display: inline-block;
  }

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
}

.card.hovercard .cardheader {
    background: url("/assets/svg/session1.svg");
    background-size: cover;
    height: 110px;
}

.card.hovercard .avatar {
    position: relative;
    top: -70px;
    left: 10px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #7a06d1;
    object-fit: cover;
}
.card-body-s{
    top: -32px;
    position: relative;
    padding: 20px 20px 0 20px;
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }