<app-header *ngIf="userType === 'CLIENT'"></app-header>
<app-header-pro *ngIf="userType === 'PRO'"></app-header-pro>
<main class="body-height">
  <div class="rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-12 col-xs-12">
      <div class="hero-bg">
        <div class="hero-sec mb-4 p-4 rounded text-body-emphasis container">

          <h1 class="text-start mb-5 text-white mt-5">Completed Elite Orders</h1>
          <div class="row">
            <div class="d-flex align-items-center justify-content-between p-3 rounde12 bg-darks text-light mb-5">

              <div class="d-flex">
                <form [formGroup]="form">
                  <div class="me-2">
                    <!-- <select class="form-select custom-select" aria-label="Select option" formControlName="startedDate">
                  <option selected>Date</option>
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                </select> -->
                  </div>
                </form>
              </div>

            </div>
          </div>

          <h1 class="text-start mb-5 text-white mt-5">Elite Orders</h1>

          <div class="row mt-3">
            <div class="table-responsive">
              <table class="table text-light">
                <thead class="bg-transparent">
                  <tr>
                    <th scope="col">Order#</th>
                    <th scope="col">Amount</th>
                    <th scope="col">PROs Played</th>
                    <th scope="col">Started Time</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <ng-container *ngIf="visibleOrders && visibleOrders.length > 0; else noItemsFound">
                    <tr *ngFor="let order of visibleOrders">
                      <td  [ngClass]="{ 'client-color': userType === 'CLIENT', 'pro-color': userType !== 'CLIENT' }">{{ order.orderId }}</td>
                      <td class="red-letter">{{ order.totalAmountTransferred }}</td>
                      <td class="red-letter"> {{ order.numberOfUsersInvolved }}</td>
                      <td  [ngClass]="{ 'client-color': userType === 'CLIENT', 'pro-color': userType !== 'CLIENT' }">{{ order?.startedTime | date: 'dd/MM/yyyy HH:mm a' }}</td>
                    </tr>
                  </ng-container>
                  <ng-template #noItemsFound>
                    <tr>
                      <td colspan="4" class=" red-letter">No Orders Found</td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>

            <div class="pagination-container text-center mt-4" *ngIf="visibleOrders && visibleOrders.length > 0">
              <span class="page-numbers">Page <span class="fw-bold" [ngClass]="{ 'client-color': userType === 'CLIENT', 'pro-color': userType !== 'CLIENT' }">{{ p }}</span> of {{ totalPages
                }}</span>
              <button class="btn btn-secondary" [ngClass]="{ 'btn-primary-gg': userType === 'CLIENT', 'btn-primary-ggpro': userType !== 'CLIENT' }" [disabled]="p === 1" (click)="goToPage(p - 1)">Previous</button>
              <button class="btn btn-secondary" [ngClass]="{ 'btn-primary-gg': userType === 'CLIENT', 'btn-primary-ggpro': userType !== 'CLIENT' }" [disabled]="p === totalPages" (click)="goToPage(p + 1)">Next</button>
            </div>
          </div>



        </div>
      </div>
    </div>
  </div>
</main>