.hero-bg {
    background-image: 
   
    url("../../../assets/images/proplayershero.svg");    
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card {
    background-color: #2a2a3c;
    border: none;
    border-radius: 10px;
    background: linear-gradient(108.7deg, rgba(21, 21, 32, 0.1) 2.31%, rgba(61, 61, 92, 0.1) 55.66%, rgba(21, 21, 32, 0.1) 100%);
    backdrop-filter: blur(24px);
    border: 1px solid;
    border-color: linear-gradient(134.67deg, #3D3D5C 11.42%, #0C0C17 49.01%, #3D3D5C 87.06%);
}

button.btn.btn-purple {
    background: linear-gradient(294.38deg, #41067A 7.72%, #7A06D1 87.02%);
    font-family: Monday Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    
    width: 212px;
    color: #FFFFFF;
    border: 0;
}
button.btn.btn-purple > h5 {
    font-size: 14px;
    margin-bottom: 0;
}
.btn-purple:hover {
    background-color: #5a4dbe;
}
.input-group-text {
    background-color: #3a3a5c;
    border: none;
    color: #fff;
}
.form-control {
    background-color: #3a3a5c;
    border: none;
    color: #fff;
}
.form-control:focus {
    box-shadow: none;
}
.radio-group label {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3a3a5c;
    color: #fff;
}
.radio-group input[type="radio"] {
    display: none;
}
.radio-group input[type="radio"]:checked + label {
    background-color: #6c5ce7;
}
.tb {
padding: 6px 14px;
border-radius: 8px;
background-color: #181823;
font-family: Manrope;
font-size: 14px;
font-weight: 600;
text-align: center;
line-height: 22.4px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #C3C3C3;
}
span.dollar {
    font-family: Manrope;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
h2.h1-font {
    /* font-family: Manrope; */
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #A55DFF;
}
button.btn.tb {
    color: #A55EFF;
}
button.btn.money {
    width: 212.8px;
    padding: 14px 40px 14px 40px;
    gap: 8px;
    border-radius: 8px;
    opacity: 0px;
    background: #151520;
    color: #E9E9EA;
}
.hcolor {
    color: #E9E9EA;

}
button.btn.money:hover {
    border: 1.2px solid;

border-color: linear-gradient(294.38deg, #41067A 7.72%, #7A06D1 87.02%);

color: #A55DFF;
background: #151520;
}