<div class="text-center text-white">
    <h1>
        Choose Your Favorite game
    </h1>
    <p class=" my-3">
        Join a Lobby , play with the pros, and experience the game your way.
    </p>
</div>
<div class="mb-4 p-4 rounded text-body-emphasis  container" *ngIf="games && games.length > 0">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let game of games">
            <img class="slider-img" src="assets/images/{{game.imageUrl}}" (click)="chooseGame(game.id)">
        </ng-template>
    </owl-carousel-o>
</div>