.hero-bg {
  background-image: url("../../../assets/images/proplayershero.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-real {
  background-color: #151520;
  padding: 30px;
  border-radius: 12px;
}

.f-14 {
  font-size: 14px;
}

body {
  background-color: #1e1e2d;
  color: #fff;
}

.form-container {
  max-width: 900px;
  margin: 2rem auto;
  background: #2a2a3b;
  padding: 2rem;
  border-radius: 10px;
}

.form-control,
.form-select {
  border: 0;
  padding: 16px 20px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 600;
  line-height: 21.86px;
  letter-spacing: -0.01em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #777980;
  background: #20202B;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #6c5ce7;
}

label.form-label {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #E9E9EA;
}

button.btn.make {
  background: linear-gradient(294.38deg, #7a3c06 7.72%, #d16c06 87.02%);
  border-radius: 8px;
  border: 0;
  padding: 14px 24px;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 700;
  line-height: 21.86px;
  letter-spacing: -0.01em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #fff;
}

.modal-content {
  border-radius: 45px;
}

.modal-card>.modal-dialog>.modal-content>.modal-body {
  background: #1c1c26;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}

.card.modal-cards.hovercard {
  border-radius: 0;
  background: transparent;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}
