
<main class="body-height">

  <div class="rounded text-body-emphasis">
    <div class="error-container bg-black">
      <div class="error-code text-white"><span class="h1-font">404</span></div>
      <div class="error-message text-white">Page not found</div>
      <div class="error-description text-secondary">Oops... The link you clicked may be broken or the page<br> may have been removed. We're sorry.</div>
      <div class="d-flex justify-content-center my-3 mb-2">
        <div class="text-light text" style="cursor: pointer;" (click)="redirectToHome()">
            Back to home
        </div>
    </div>
  </div>
  </div>
</main>