.hero-bg {
    background-image: 
   
    url("../../../assets/images/proplayershero.svg");    
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-real {
    background-color: #151520;
padding: 24px;
border-radius: 12px;
  }
.txt-class {
    font-family: Manrope;
font-size: 20px;
font-weight: 700;
line-height: 32px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #fff;
}
.search-box-container input {
    padding: 16px 24px ;
    background: #20202B;
    color: #6F737A;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 600;
    line-height: 19.12px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    border: 0;
    width: 100%;
    border-radius: 8px;
  }
.f-14 {
    font-size: 14px;
}