/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #0d0d18;
}
h1,
h2,
h3,
h4,
h5,
h6,
.login {
  font-family: 'MyFont';
  font-style: normal;
}

@font-face {
  font-family: 'MyFont';
  src: url('assets/fonts/Monday.ttf');
}

p {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}

.h1-font {
  font-family: "Righteous", sans-serif;
}

.btn-primary-gg {
  color: white;
  background: linear-gradient(217deg, #41067A, #7A06D1)
}
.btn-primary-ggpro {
  color: white;
  background: linear-gradient(217deg, #7a3c06, #d16c06)
}

.btn-secondary-gg {
  background: #1F1F2A;
  color: white;
}

.text-color {
  color: #A5A5AB;
  font-weight: 500;
}

.text-color-light {
  color: #A5A5AB;
}

.text-white {
  columns: #ffffff;
}

.footer-color {
  color: #A5A5AB;
  font-weight: 500;
}

.border-top {
  border-color: #ffffff4f !important;
}

/* header and  footer  */
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.text-bg-dark {
  background-color: #13131E !important;
}


@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}


.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.session-text {
  text-align: center;
}


/* popup content */

.hero-bg {
  background-image:

    url("../src/assets/images/proplayershero.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-outer {
  /* padding: 20px; */
  margin: 0 auto;
}

.card {
  background: #151520;
  border: none;
  border-radius: 15px;
}

.card-title {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 22.8px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 3.5rem !important;
}

.card-header {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #6a0dad;
  margin: 0 auto;
}

.icon-badge {
  color: #6a0dad;
  font-size: 1.2rem;
}

.session>.info-row:first-child {
  background-color: red;
}

.session>.info-row:first-child {
  background-color: yellow;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  font-size: 12px;
  background: #1c1c26;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 13px;
}

.info-row:last-child {
  border-bottom: none;
}

.info-row span:first-child {
  color: #D2D2D5;
  font-weight: 500;
}

.info-row span:last-child {
  color: #A55EFF;
  font-weight: 500;
}

.card-body>.avatar>img {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  left: 40%;
  top: -14%;
  position: absolute !important;
  border: 3px solid #7a06d1;
  object-fit: cover;
}

.info-rows {
  background: #1c1c26;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 13px;
  font-size: 16px;
}

.bg-sec {
  background-color: #1C1C26 !important;
}

.bg-trd {
  background-color: #2B2B3B !important;
}



button.btn.btn-purple {
  background: linear-gradient(294.38deg, #41067A 7.72%, #7A06D1 87.02%);
  font-family: Monday Pro;
  font-size: 14px;
  height: 100%;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.04em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  width: 212px;
  color: #FFFFFF;
  border: 0;
}

button.btn.btn-purple>h5 {
  font-size: 14px;
  margin-bottom: 0;
}

.btn-purple:hover {
  background-color: #5a4dbe;
}