<app-header></app-header>
<main class="body-height">
  <div class="rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-12 col-xs-12">
      <div class="hero-bg">
        <div class="hero-sec mb-4 p-4 rounded text-body-emphasis container">
          <button (click)="openModal('firstModal')">modal1</button>
          <h1 class="text-start text-white mt-5">Create Elite Order</h1>
          <div class="row">
            <div class="order-card bg-darks mt-3 mb-3 d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <div class="d-flex align-items-center me-3">
                  <img src="../../../assets/images/user.png" alt="Avatar" class="avatars me-2">
                  <h6 class="text-start text-white mb-0">MUNNA</h6>
                </div>

                <div class="d-flex gap-1">
                  <img src="../../../assets/images/nouser.png" alt="Avatar" class="avatars me-1"><button
                    class="btn btn-choose me-3 f-14 choosebtn">Choose Pro</button>
                  <img src="../../../assets/images/nouser.png" alt="Avatar" class="avatars me-1"><button
                    class="btn btn-choose me-3 f-14 choosebtn">Choose Pro</button>
                  <img src="../../../assets/images/nouser.png" alt="Avatar" class="avatars me-1"><button
                    class="btn btn-choose me-3 f-14 choosebtn">Choose Pro</button>
                </div>

              </div>
              <div class="session-text float-end">
                <button type="button" class="btn btn-primary-gg p-3 border-0  w-100">
                  <h5 class="pe-4 px-4 mb-0 f-14">CREATE</h5>
                </button>
              </div>

            </div>
          </div>

          <h1 class="text-start text-white mt-5">Choose Your Pro Below</h1>

          <div class="row mt-3">
            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="card hovercard mt-5 rounded">
                <div class="cardheader">
                </div>
                <div class="avatar avatars">
                  <img alt="" src="/assets/images/user.png">

                </div>
                <div class=" container card-body-s">
                  <div>
                    <div class="d-flex justify-content-between align-items-center mt-5">
                      <h3 class="text-light ">
                        Adam
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_5344_406)">
                            <path
                              d="M16.5 8.33203C16.5 3.91375 12.9183 0.332031 8.5 0.332031C4.08172 0.332031 0.5 3.91375 0.5 8.33203C0.5 12.7503 4.08172 16.332 8.5 16.332C12.9183 16.332 16.5 12.7503 16.5 8.33203Z"
                              fill="url(#paint0_linear_5344_406)" />
                            <path
                              d="M10.1519 7.39482L8.55719 5.05148C8.5509 5.04225 8.54245 5.03469 8.53257 5.02946C8.5227 5.02424 8.5117 5.0215 8.50052 5.02148C8.4894 5.02149 8.47844 5.02423 8.46862 5.02946C8.4588 5.0347 8.45041 5.04226 8.44419 5.05148L6.84952 7.39482C6.8449 7.40164 6.83798 7.40657 6.83003 7.40871C6.82207 7.41085 6.81361 7.41006 6.80619 7.40648L4.32386 6.16815C4.31274 6.16257 4.3003 6.16015 4.2879 6.16115C4.2755 6.16215 4.26361 6.16653 4.25352 6.17382C4.24333 6.1812 4.23532 6.1912 4.23034 6.20276C4.22535 6.21432 4.22357 6.227 4.22519 6.23948L4.76319 10.9128C4.80286 11.3168 6.46086 11.6422 8.50019 11.6422C10.5399 11.6422 12.1979 11.3168 12.2375 10.9128L12.7759 6.23948C12.7774 6.22709 12.7756 6.2145 12.7707 6.20302C12.7658 6.19154 12.7579 6.18157 12.7479 6.17415C12.7378 6.16687 12.726 6.16247 12.7137 6.16141C12.7014 6.16035 12.689 6.16268 12.6779 6.16815L10.1952 7.40482C10.188 7.40863 10.1796 7.40972 10.1717 7.40788C10.1637 7.40605 10.1567 7.40141 10.1519 7.39482Z"
                              fill="white" />
                          </g>
                          <defs>
                            <linearGradient id="paint0_linear_5344_406" x1="15.708" y1="14.1194" x2="-2.09236"
                              y2="6.05188" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#41067A" />
                              <stop offset="0.859293" stop-color="#7A06D1" />
                            </linearGradient>
                            <clipPath id="clip0_5344_406">
                              <rect width="16" height="16" fill="white" transform="translate(0.5 0.332031)" />
                            </clipPath>
                          </defs>
                        </svg>
                      </h3>
                      <div>
                        <span class="me-2 text-white">Online </span><img src="../../../assets/images/online.png"
                          class="img-fluid mb-1" />
                      </div>

                    </div>


                    <p class="text-color-light mt-2">
                      I'm in the top 50 players in the world / Caldera Trios
                      World...
                    </p>
                  </div>
                  <div class="align-custom">
                    <div class=" streamLobbySlotTagsWrapper mt-3">
                      <div class="streamLobbySlotTag p-2">
                        <span class="red-letter me-2">Country</span>
                        <span class="fw-bold">Europe</span>
                      </div>
                      <div class="streamLobbySlotTag p-2 ">
                        <span class="red-letter me-2">5.41</span>
                        <span class="fw-bold">KD</span>
                      </div>
                      <div class="streamLobbySlotTag p-2">
                        <span class="red-letter me-2">Platform</span>
                        <span class="fw-bold">PC</span>
                      </div>

                      <div class="streamLobbySlotTag p-2">
                        <span class="red-letter me-2">Platform</span>
                        <span class="fw-bold">PC</span>
                      </div>

                      <div class="streamLobbySlotTag p-2">
                        <span class="red-letter me-2">0</span>
                        <span class="fw-bold">Order <span>0</span> ⭐ <span>0.0</span></span>
                      </div>

                    </div>

                    <div class="session-text float-end">
                      <button type="button" class="btn btn-primary-gg p-3 border-0  w-100">
                        <h5 class="mb-0 f-14">Play with This Pro <img src="../../../assets/images/joystick.png"
                            class="ms-2 mb-1 img-fluid" /></h5>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
              <div class="card hovercard rounded">
                <div class="cardheader">
                </div>
                <div class=  " avatars avatar ">
                  <img alt="" src="/assets/images/user.png">

                </div>
                <div class=" container card-body-s">
                  <div>
                    <div class="d-flex justify-content-between align-items-center mt-5">
                      <h3 class="text-light">
                        GIO
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_5344_406)">
                            <path
                              d="M16.5 8.33203C16.5 3.91375 12.9183 0.332031 8.5 0.332031C4.08172 0.332031 0.5 3.91375 0.5 8.33203C0.5 12.7503 4.08172 16.332 8.5 16.332C12.9183 16.332 16.5 12.7503 16.5 8.33203Z"
                              fill="url(#paint0_linear_5344_406)" />
                            <path
                              d="M10.1519 7.39482L8.55719 5.05148C8.5509 5.04225 8.54245 5.03469 8.53257 5.02946C8.5227 5.02424 8.5117 5.0215 8.50052 5.02148C8.4894 5.02149 8.47844 5.02423 8.46862 5.02946C8.4588 5.0347 8.45041 5.04226 8.44419 5.05148L6.84952 7.39482C6.8449 7.40164 6.83798 7.40657 6.83003 7.40871C6.82207 7.41085 6.81361 7.41006 6.80619 7.40648L4.32386 6.16815C4.31274 6.16257 4.3003 6.16015 4.2879 6.16115C4.2755 6.16215 4.26361 6.16653 4.25352 6.17382C4.24333 6.1812 4.23532 6.1912 4.23034 6.20276C4.22535 6.21432 4.22357 6.227 4.22519 6.23948L4.76319 10.9128C4.80286 11.3168 6.46086 11.6422 8.50019 11.6422C10.5399 11.6422 12.1979 11.3168 12.2375 10.9128L12.7759 6.23948C12.7774 6.22709 12.7756 6.2145 12.7707 6.20302C12.7658 6.19154 12.7579 6.18157 12.7479 6.17415C12.7378 6.16687 12.726 6.16247 12.7137 6.16141C12.7014 6.16035 12.689 6.16268 12.6779 6.16815L10.1952 7.40482C10.188 7.40863 10.1796 7.40972 10.1717 7.40788C10.1637 7.40605 10.1567 7.40141 10.1519 7.39482Z"
                              fill="white" />
                          </g>
                          <defs>
                            <linearGradient id="paint0_linear_5344_406" x1="15.708" y1="14.1194" x2="-2.09236"
                              y2="6.05188" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#41067A" />
                              <stop offset="0.859293" stop-color="#7A06D1" />
                            </linearGradient>
                            <clipPath id="clip0_5344_406">
                              <rect width="16" height="16" fill="white" transform="translate(0.5 0.332031)" />
                            </clipPath>
                          </defs>
                        </svg>
                      </h3>
                      <div>
                        <span class="me-2 text-white opacity-50">offline </span><img
                          src="../../../assets/images/busy.png" class="img-fluid mb-1 opacity-50" />
                      </div>

                    </div>


                    <p class="text-color-light mt-2">
                      I'm in the top 50 players in the world / Caldera Trios
                      World...
                    </p>
                  </div>
                  <div class="align-custom">
                    <div class=" streamLobbySlotTagsWrapper mt-3">
                      <div class="streamLobbySlotTag p-2">
                        <span class="red-letter me-2">Country</span>
                        <span class="fw-bold">Europe</span>
                      </div>
                      <div class="streamLobbySlotTag p-2 ">
                        <span class="red-letter me-2">5.41</span>
                        <span class="fw-bold">KD</span>
                      </div>
                      <div class="streamLobbySlotTag p-2">
                        <span class="red-letter me-2">Platform</span>
                        <span class="fw-bold">PC</span>
                      </div>

                      <div class="streamLobbySlotTag p-2">
                        <span class="red-letter me-2">Platform</span>
                        <span class="fw-bold">PC</span>
                      </div>

                      <div class="streamLobbySlotTag p-2">
                        <span class="red-letter me-2">0</span>
                        <span class="fw-bold">Order <span>0</span> ⭐ <span>0.0</span></span>
                      </div>

                    </div>

                    <div class="session-text float-end">
                      <button type="button" class="btn btn-primary-gg p-3 border-0  w-100">
                        <h5 class="mb-0 f-14">Play with This Pro <img src="../../../assets/images/joystick.png"
                            class="ms-2 mb-1 img-fluid" /></h5>
                      </button>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>



        <!-- modal -->

 <div class="modal fade modal-card" id="firstModal" tabindex="-1" aria-labelledby="firstModalLabel"
 aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered modal-xl">
   <div class="modal-content">

     <div class="modal-body p-4">
       <div>
         <div class="card  modal-cards hovercard" data-bs-toggle="modal" data-bs-target="#firstModal">

          <div class="row">
           
            <div class=" col-6 text-center card-outer ">
              <!-- Client Card -->
              <div class="card mb-4 mt-5">
                <div class="card-body text-center">
                  <div class="avatar">
                    <img alt="" src="/assets/images/user.png" class="mb-3">
  
                  </div>
                  <h3 class="card-title mb-3 mt-4">Client <span class="icon-badge"><svg _ngcontent-doa-c26="" width="17"
                        height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g _ngcontent-doa-c26="" clip-path="url(#clip0_5344_406)">
                          <path _ngcontent-doa-c26=""
                            d="M16.5 8.33203C16.5 3.91375 12.9183 0.332031 8.5 0.332031C4.08172 0.332031 0.5 3.91375 0.5 8.33203C0.5 12.7503 4.08172 16.332 8.5 16.332C12.9183 16.332 16.5 12.7503 16.5 8.33203Z"
                            fill="url(#paint0_linear_5344_406)"></path>
                          <path _ngcontent-doa-c26=""
                            d="M10.1519 7.39482L8.55719 5.05148C8.5509 5.04225 8.54245 5.03469 8.53257 5.02946C8.5227 5.02424 8.5117 5.0215 8.50052 5.02148C8.4894 5.02149 8.47844 5.02423 8.46862 5.02946C8.4588 5.0347 8.45041 5.04226 8.44419 5.05148L6.84952 7.39482C6.8449 7.40164 6.83798 7.40657 6.83003 7.40871C6.82207 7.41085 6.81361 7.41006 6.80619 7.40648L4.32386 6.16815C4.31274 6.16257 4.3003 6.16015 4.2879 6.16115C4.2755 6.16215 4.26361 6.16653 4.25352 6.17382C4.24333 6.1812 4.23532 6.1912 4.23034 6.20276C4.22535 6.21432 4.22357 6.227 4.22519 6.23948L4.76319 10.9128C4.80286 11.3168 6.46086 11.6422 8.50019 11.6422C10.5399 11.6422 12.1979 11.3168 12.2375 10.9128L12.7759 6.23948C12.7774 6.22709 12.7756 6.2145 12.7707 6.20302C12.7658 6.19154 12.7579 6.18157 12.7479 6.17415C12.7378 6.16687 12.726 6.16247 12.7137 6.16141C12.7014 6.16035 12.689 6.16268 12.6779 6.16815L10.1952 7.40482C10.188 7.40863 10.1796 7.40972 10.1717 7.40788C10.1637 7.40605 10.1567 7.40141 10.1519 7.39482Z"
                            fill="white"></path>
                        </g>
                        <defs _ngcontent-doa-c26="">
                          <linearGradient _ngcontent-doa-c26="" id="paint0_linear_5344_406" x1="15.708" y1="14.1194"
                            x2="-2.09236" y2="6.05188" gradientUnits="userSpaceOnUse">
                            <stop _ngcontent-doa-c26="" stop-color="#41067A"></stop>
                            <stop _ngcontent-doa-c26="" offset="0.859293" stop-color="#7A06D1"></stop>
                          </linearGradient>
                          <clipPath _ngcontent-doa-c26="" id="clip0_5344_406">
                            <rect _ngcontent-doa-c26="" width="16" height="16" fill="white"
                              transform="translate(0.5 0.332031)"></rect>
                          </clipPath>
                        </defs>
                      </svg></span></h3>
                  <div class="info-row">
                    <span>User Name</span>
                    <span>Munna</span>
                  </div>
                  <div class="info-row">
                    <span>Current Wallet Balance</span>
                    <span>$68.20</span>
                  </div>
                  <div class="info-row">
                    <span>Balance before order</span>
                    <span>$68.66</span>
                  </div>
                  <div class="info-row">
                    <span>Amount Transferred</span>
                    <span>$68.66</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 text-center card-outer">
              <!-- )rdwe Details Card -->
              <div class="card mt-5">
                <div class="card-body">
                  <div class="info-rows text-center">
                    <span class="text-white mx-auto sesheader">Order Details</span>
                  </div>
                  <div class="info-row bg-sec">
                    <span>Order</span>
                    <span>#78745147</span>
                  </div>
                  <div class="info-row bg-trd">
                    <span>Cost</span>
                    <span>$12.00/hour</span>
                  </div>
                  <div class="info-row bg-sec">
                    <span>Platform</span>
                    <span>PC</span>
                  </div>
                  <div class="info-row bg-trd">
                    <span>Started Time</span>
                    <span>30/11/2024 12:37 PM</span>
                  </div>
                  <div class="info-row bg-sec">
                    <span>Closed Time</span>
                    <span>-</span>
                  </div>
                  <div class="info-row bg-trd">
                    <span>Status</span>
                    <span>APPROVED</span>
                  </div>
                </div>
              </div>
            </div>
            <div class=" col-6 text-center card-outer">
              <!-- Pro Card -->
              <div class="card mt-5">
                <div class="card-body text-center">
                  <div class="avatar">
                    <img alt="" src="/assets/images/user.png">
                  </div>
                  <h3 class="card-title mb-3 mt-3">Pro <span class="icon-badge"><svg _ngcontent-doa-c26="" width="17"
                        height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g _ngcontent-doa-c26="" clip-path="url(#clip0_5344_406)">
                          <path _ngcontent-doa-c26=""
                            d="M16.5 8.33203C16.5 3.91375 12.9183 0.332031 8.5 0.332031C4.08172 0.332031 0.5 3.91375 0.5 8.33203C0.5 12.7503 4.08172 16.332 8.5 16.332C12.9183 16.332 16.5 12.7503 16.5 8.33203Z"
                            fill="url(#paint0_linear_5344_406)"></path>
                          <path _ngcontent-doa-c26=""
                            d="M10.1519 7.39482L8.55719 5.05148C8.5509 5.04225 8.54245 5.03469 8.53257 5.02946C8.5227 5.02424 8.5117 5.0215 8.50052 5.02148C8.4894 5.02149 8.47844 5.02423 8.46862 5.02946C8.4588 5.0347 8.45041 5.04226 8.44419 5.05148L6.84952 7.39482C6.8449 7.40164 6.83798 7.40657 6.83003 7.40871C6.82207 7.41085 6.81361 7.41006 6.80619 7.40648L4.32386 6.16815C4.31274 6.16257 4.3003 6.16015 4.2879 6.16115C4.2755 6.16215 4.26361 6.16653 4.25352 6.17382C4.24333 6.1812 4.23532 6.1912 4.23034 6.20276C4.22535 6.21432 4.22357 6.227 4.22519 6.23948L4.76319 10.9128C4.80286 11.3168 6.46086 11.6422 8.50019 11.6422C10.5399 11.6422 12.1979 11.3168 12.2375 10.9128L12.7759 6.23948C12.7774 6.22709 12.7756 6.2145 12.7707 6.20302C12.7658 6.19154 12.7579 6.18157 12.7479 6.17415C12.7378 6.16687 12.726 6.16247 12.7137 6.16141C12.7014 6.16035 12.689 6.16268 12.6779 6.16815L10.1952 7.40482C10.188 7.40863 10.1796 7.40972 10.1717 7.40788C10.1637 7.40605 10.1567 7.40141 10.1519 7.39482Z"
                            fill="white"></path>
                        </g>
                        <defs _ngcontent-doa-c26="">
                          <linearGradient _ngcontent-doa-c26="" id="paint0_linear_5344_406" x1="15.708" y1="14.1194"
                            x2="-2.09236" y2="6.05188" gradientUnits="userSpaceOnUse">
                            <stop _ngcontent-doa-c26="" stop-color="#41067A"></stop>
                            <stop _ngcontent-doa-c26="" offset="0.859293" stop-color="#7A06D1"></stop>
                          </linearGradient>
                          <clipPath _ngcontent-doa-c26="" id="clip0_5344_406">
                            <rect _ngcontent-doa-c26="" width="16" height="16" fill="white"
                              transform="translate(0.5 0.332031)"></rect>
                          </clipPath>
                        </defs>
                      </svg></span></h3>
                  <div class="info-row">
                    <span>User name</span>
                    <span>Harry</span>
                  </div>
                  <div class="info-row">
                    <span>Time Calculated by System</span>
                    <span>37 Min</span>
                  </div>
                  <div class="info-row">
                    <span>Time Logged (by PRO)</span>
                    <span>30 Min</span>
                  </div>
                  <!-- <div class="info-row">
                    <span>Platform</span>
                    <span>PC</span>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>

       
       
        </div>
      </div>
    </div>
  </div>
</main>