.hero-bg {
  background-image:

    url("../../../assets/images/proplayershero.svg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: #151520 !important;
  border-color: #111;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* width: 435px; */
}

.font {
  font-size: 0.9rem;
  font-weight: 100;
}

.btn-primary-gg {
  color: white;
  border: 0 !important;
  border-radius: 8px;
}

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}


.red-letter {
  color: #A55EFF;
}

.streamLobbySlotTag {
  text-align: center;
  color: #f2f2f2;
  min-height: 25px;
  background: #1F1F2A;
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  display: flex;
}

.streamLobbySlotTagsWrapper {
  flex-flow: wrap;
  align-items: center;
  gap: 12px;
  display: flex;
}


.p {
  font-family: "Manrope", sans-serif;
}

.cardimg {
  height: 200px;
  background-repeat: no-repeat;

}

.card1 {
  background-image: url('/assets/svg/session1.svg');
  height: 100px;
  background-repeat: no-repeat;

}

.dot {
  height: 15px;
  width: 15px;
  background-color: #38ad63;
  border-radius: 50%;
  display: inline-block;
}

.card.hovercard {
  position: relative;
  padding-top: 0;
  overflow: hidden;
}

.card.hovercard .cardheader {
  background: url("/assets/svg/session1.svg");
  background-size: cover;
  height: 110px;
}

.card.hovercard .avatar {
  position: relative;
  top: -70px;
  left: 30px;
  margin-bottom: -50px;
}

.card.hovercard .avatar img, .card.hovercard img.profile-image {
  width: 100px;
  height: 100px;
  max-width: 100px;
  max-height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border-radius: 50%;
  border: 3px solid #985eff;
  object-fit: cover;
}

.card-body-s {
  top: -32px;
  position: relative;
  padding: 30px 23px 0 30px;
}

.card.hovercard .info {
  padding: 4px 8px 10px;
}

.card.hovercard .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.card.hovercard .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.card.hovercard .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}

.modal-content {
  border-radius: 45px;
}

.modal-card>.modal-dialog>.modal-content>.modal-body {
  background-image: url("../../../assets/images/modal-bg.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 24px;
}

.card.modal-cards.hovercard {
  border-radius: 0;
  background-image: url("../../../assets/images/modal-bg-blur.png");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
}

.modal-stream.streamLobbySlotTagsWrapper {
  flex-flow: wrap;
  align-items: center;
  gap: 16px;
  display: flex;
}



.modal-stream {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center align items horizontally */
  gap: 10px;
  /* Space between items */
}

.streamLobbySlotTagsWrapper .streamLobbySlotTag:nth-child(6),
.streamLobbySlotTagsWrapper .streamLobbySlotTag:nth-child(7) {
  max-width: calc(45% - 10px);
  /* Adjust width for the second row */
}

.f-14 {
  font-size: 14px !important;
}

.rounde12 {
  border-radius: 12px;
}

.form-select {
  height: 40px;
  border: none;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  line-height: 22.4px;
}

.form-select:focus {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #1F1F2A;
  /* Purple check indicator */
  border-color: #1F1F2A;
}

.form-check-label {
  color: #fff;
}

.custom-select {
  background-color: #1F1F2A;
  color: white;
}

.custom-select option {
  background-color: #1F1F2A;
  color: white;
}

.custom-select:focus {
  border-color: #ccc;
  /* Optional: change border color on focus */
  box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
  /* Optional: add focus effect */
}

/* Change the color of the down arrow */
.custom-select::after {
  color: #fff;
  /* White arrow */
}

.bg-darks {
  background-color: #151520;
}

.onli {
  position: absolute;
  right: 35px;
  top: 50px;
}

.modal-body {
  position: relative;
}

.busy {
  padding: 4px;
  background: red;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  box-shadow: 0 0 3px red;
}