<app-header></app-header>
<main class="body-height">
  <div class="rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-12 col-xs-12">
      <div class="hero-bg">
        <div class="hero-sec mb-4 p-4 rounded text-body-emphasis container">

          <h1 class="text-left mb-5 text-white mt-5">Pro Players</h1>
          <div class="row">
            <form [formGroup]="form">
              <div class="d-flex align-items-center justify-content-between p-3 rounde12 bg-darks text-light mb-5">

                <div class="d-flex">
                  <!-- Select 1 -->
                  <div class="me-2">
                    <select formControlName="type" class="form-select custom-select" aria-label="Select option"
                      (change)="getData()">
                      <option *ngFor="let type of types" value={{type.key}}>{{type.value}}</option>
                    </select>
                  </div>

                  <!-- Select 2 -->
                  <div class="me-2">
                    <select formControlName="gameId" class="form-select custom-select" aria-label="Select option">
                      <option value={{game.id}}>{{game.name}}</option>
                    </select>
                  </div>
                </div>


                <!-- Checkbox group -->
                <div class="d-flex align-items-center">
                  <div class="form-check me-3">
                    <input class="form-check-input" type="checkbox" id="checkboxPS" (change)="getData()"
                      formControlName="typePs" value="PS">
                    <label class="form-check-label text-light" for="checkboxPS">
                      PS
                    </label>
                  </div>
                  <div class="form-check me-3">
                    <input class="form-check-input" type="checkbox" id="checkboxXbox" (change)="getData()"
                      formControlName="typeXbox" value="XBOX">
                    <label class="form-check-label text-light" for="checkboxXbox">
                      Xbox
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkboxWin" (change)="getData()"
                      formControlName="typePc" value="PC">
                    <label class="form-check-label text-light" for="checkboxWin">
                      Win
                    </label>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3" *ngFor="let contact of selectedProUsers">
              <div class="card hovercard mt-5 rounded" data-bs-toggle="modal" data-bs-target="#firstModal">
                <div class="cardheader">
                </div>
                <div class="avatar">
                  <img *ngIf="contact?.profileImageUrl; else noImage" [src]="contact.profileImageUrl"
                    alt="Profile Image">
                  <ng-template #noImage>
                    <img src="../../../assets/images/nouser.png" alt="No Profile Image" class="img-fluid pro-log-img" />
                  </ng-template>
                </div>
                <div class=" container card-body-s">
                  <div>
                    <div class="d-flex justify-content-between align-items-center">
                      <h3 class="text-light">
                        <span class="h1-font">{{ contact.username | truncate: 8 }}</span>
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <g clip-path="url(#clip0_5344_406)">
                            <path
                              d="M16.5 8.33203C16.5 3.91375 12.9183 0.332031 8.5 0.332031C4.08172 0.332031 0.5 3.91375 0.5 8.33203C0.5 12.7503 4.08172 16.332 8.5 16.332C12.9183 16.332 16.5 12.7503 16.5 8.33203Z"
                              fill="url(#paint0_linear_5344_406)" />
                            <path
                              d="M10.1519 7.39482L8.55719 5.05148C8.5509 5.04225 8.54245 5.03469 8.53257 5.02946C8.5227 5.02424 8.5117 5.0215 8.50052 5.02148C8.4894 5.02149 8.47844 5.02423 8.46862 5.02946C8.4588 5.0347 8.45041 5.04226 8.44419 5.05148L6.84952 7.39482C6.8449 7.40164 6.83798 7.40657 6.83003 7.40871C6.82207 7.41085 6.81361 7.41006 6.80619 7.40648L4.32386 6.16815C4.31274 6.16257 4.3003 6.16015 4.2879 6.16115C4.2755 6.16215 4.26361 6.16653 4.25352 6.17382C4.24333 6.1812 4.23532 6.1912 4.23034 6.20276C4.22535 6.21432 4.22357 6.227 4.22519 6.23948L4.76319 10.9128C4.80286 11.3168 6.46086 11.6422 8.50019 11.6422C10.5399 11.6422 12.1979 11.3168 12.2375 10.9128L12.7759 6.23948C12.7774 6.22709 12.7756 6.2145 12.7707 6.20302C12.7658 6.19154 12.7579 6.18157 12.7479 6.17415C12.7378 6.16687 12.726 6.16247 12.7137 6.16141C12.7014 6.16035 12.689 6.16268 12.6779 6.16815L10.1952 7.40482C10.188 7.40863 10.1796 7.40972 10.1717 7.40788C10.1637 7.40605 10.1567 7.40141 10.1519 7.39482Z"
                              fill="white" />
                          </g>
                          <defs>
                            <linearGradient id="paint0_linear_5344_406" x1="15.708" y1="14.1194" x2="-2.09236"
                              y2="6.05188" gradientUnits="userSpaceOnUse">
                              <stop stop-color="#41067A" />
                              <stop offset="0.859293" stop-color="#7A06D1" />
                            </linearGradient>
                            <clipPath id="clip0_5344_406">
                              <rect width="16" height="16" fill="white" transform="translate(0.5 0.332031)" />
                            </clipPath>
                          </defs>
                        </svg>
                      </h3>
                      <div>
                        <span class="me-2 text-white">{{contact?.currentStatus}} </span>
                        <img src="../../../assets/images/online.png" class="img-fluid mb-1"
                          style="width: 15px; width: 15px;" *ngIf="contact?.currentStatus === 'ONLINE'" />
                        <img src="../../../assets/images/offline.png" class="img-fluid mb-1"
                          style="width: 15px; width: 15px;" *ngIf="contact?.currentStatus === 'OFFLINE'" />
                        <img src="../../../assets/images/busy.png" class="img-fluid mb-1"
                          style="width: 15px; width: 15px;"
                          *ngIf="contact?.currentStatus === 'BOOKED' || contact?.currentStatus === 'BUSY'" />
                      </div>

                    </div>


                    <p class="text-color-light mt-2" style="min-height: 42px;">
                      {{ contact.summary | truncate: 60 }}
                    </p>
                  </div>
                  <div class=" streamLobbySlotTagsWrapper mt-3">
                    <div class="streamLobbySlotTag p-2">
                      <span class="red-letter me-2">Country</span>
                      <span class="fw-bold">{{contact?.region}}</span>
                    </div>
                    <div class="streamLobbySlotTag p-2 ">
                      <span class="red-letter me-2">KD</span>
                      <span class="fw-bold">{{ contact?.kd ? contact?.kd : '0' }}</span>
                    </div>
                    <div class="streamLobbySlotTag p-2">
                      <span class="red-letter me-2">Platform</span>
                      <span class="fw-bold">{{contact?.platform}}</span>
                    </div>

                    <div class="streamLobbySlotTag p-2">
                      <span class="red-letter me-2">Kills</span>
                      <span class="fw-bold">{{contact?.kills ? contact?.kills : '0'}}</span>
                    </div>

                    <div class="streamLobbySlotTag p-2">
                      <span class="red-letter me-2">Orders</span>
                      <span class="fw-bold"><span>{{ contact?.orderCount }}</span> ⭐ <span>{{ contact?.rating
                          }}</span></span>
                    </div>
                  </div>

                  <div class="session-text mt-4">
                    <button type="button" class="btn btn-primary-gg p-3  w-100" (click)="openModal('secondModal')">
                      <h5 class="mb-0 f-14">Play with This Pro <img src="../../../assets/images/joystick.png"
                          class="ms-2 mb-1 img-fluid" /></h5>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- modal -->

          <div class="modal fade modal-card" id="firstModal" tabindex="-1" aria-labelledby="firstModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">

                <div class="modal-body p-5">
                  <div>
                    <div class="card modal-cards hovercard mt-4" data-bs-toggle="modal" data-bs-target="#firstModal">

                      <div class="text-center mt-3">
                        <img alt="" src="/assets/images/user.png">
                      </div>
                      <div class="onli">
                        <span class="me-2 text-white">Online </span><img src="../../../assets/images/online.png"
                          class="img-fluid mb-1" />
                      </div>
                      <h3 class="text-light text-center mt-3">
                        Adam
                      </h3>

                      <div class=" container card-body-s">
                        <div>
                          <p class="text-color-light text-center mt-2">
                            I'm in the top 50 players in the world / Caldera Trios
                            World.
                          </p>
                        </div>
                        <div class=" modal-stream streamLobbySlotTagsWrapper mt-3 text-center px-4">
                          <div class="streamLobbySlotTag p-2">
                            <span class="red-letter me-2">Win Ratio</span>
                            <span class="fw-bold"> 18.65</span>
                          </div>
                          <div class="streamLobbySlotTag p-2 ">
                            <span class="red-letter me-2">5.41</span>
                            <span class="fw-bold">KD</span>
                          </div>
                          <div class="streamLobbySlotTag p-2">
                            <span class="red-letter me-2">Kill</span>
                            <span class="fw-bold">65219</span>
                          </div>
                          <div class="streamLobbySlotTag p-2 ">
                            <span class="red-letter me-2">Wins</span>
                            <span class="fw-bold">KD</span>
                          </div>
                          <div class="streamLobbySlotTag p-2">
                            <span class="red-letter me-2">Platform</span>
                            <span class="fw-bold"> 1782</span>
                          </div>
                          <div class="streamLobbySlotTag p-2">
                            <span class="red-letter me-2">Platform</span>
                            <span class="fw-bold"> PC</span>
                          </div>
                          <div class="streamLobbySlotTag p-2">
                            <span class="red-letter me-2">0</span>
                            <span class="fw-bold">Order <span>0</span> ⭐ <span>0.0</span></span>
                          </div>
                        </div>
                        <div class="session-text my-auto mb-4 pb-4 mt-4">
                          <button type="button" class="btn btn-primary-gg p-3" (click)="openModal('secondModal')">
                            <h5 class="pe-4 px-4 mb-0 f-14">Play with This Pro <img
                                src="../../../assets/images/joystick.png" class="ms-2 mb-1 img-fluid" /></h5>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>


                </div>

              </div>
            </div>
          </div>

          <!-- Second Modal (Inside the first modal) -->
          <div class="modal fade modal-card" id="secondModal" tabindex="-1" aria-labelledby="secondModalLabel"
            aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">

                <div class="modal-body p-5">
                  <div>
                    <div class="card modal-cards hovercard mt-4" data-bs-toggle="modal" data-bs-target="#firstModal">

                      <div class="container card-body-s">
                        <div class="modal-stream streamLobbySlotTagsWrapper mt-5 text-center px-4">
                          <h5 class="text-white">
                            <img src="../../../assets/images/clock.png" class="img-fluid me-1">
                            for Adam to accept <br> your <span class="h1-font">1-1</span> session request
                          </h5>
                        </div>

                        <div class="session-text my-auto mb-4 pb-4 mt-4">
                          <button type="button" class="btn btn-outline-light p-3" (click)="closeModal('firstModal')">
                            <h5 class="pe-4 px-4 mb-0 f-14">CANCEL REQUEST</h5>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>